.App {
  text-align: center;
}

input{
  width: 250px;
  height: 35px;
  font-size: 20px;
  padding: 5px;
}
.board{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.todo-col{
  background-color: beige;
  padding: 10px 0px;
}
.doing-col{
  background-color: lightblue;
  padding: 10px 0px;
}
.done-col{
  background-color: lightgreen;
  padding: 10px 0px;
}
.todo{
  width: 33%;
  height: 400px;
}
.doing{
  width: 33%;
  height: 400px;
  margin: 0 10px;
}
.done{
  width: 33%;
  height: 400px;
}

.task-item{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  border: 0.7px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  cursor: grab;
  font-size: 20px;
  margin: 10px 0;
}
.task-item:hover{
  background-color: lightgray;
}
.btn{
  width: 70px;
  height: 70px;
  padding: 5px;
}

.btn:hover{
  background-color: purple;
  cursor: pointer;
  border-radius: 50%;
}