.App {
  text-align: center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper{
  margin-top: 20px;
}
input{
  height: 30px;
  margin: 20px;
}

select{
  height: 35px;
  width: 100px;
}

.curr-info{
  display: flex;
  justify-content: space-between;
  width: 400px;
  align-items: center;
  font-size: 30px;
}

.red{
  color: red;
}

.green{
  color: green;
}
