.show-offer{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer-btn{
  height: 60px;
  width: 150px;
  border: none;
  outline: none;
  background-color: purple;
  color: #FFF;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.modal{
  background: radial-gradient(white, rgba(0,0,0,0.5) 50%);
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  display: grid;
  place-items: center;
}

.modal-content{
  background-color: pink;
  display: flex;
  flex-direction: column;
  gap: 20%;
  padding: 16px;
  position: relative
}


.close-btn{
  position: absolute;
  background-color: pink;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.content{
  margin-top: 40px;
  width: 300px;
  height: 200px;
  font-size: 20px;
}
.accept-btn{
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: purple;
  font-size: 20px;
  color: #FFF;
}