
.App {
  height: 100vh;
  width: 100%;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box{
  display: flex;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  width: 50%;
  height: 70%;
  position: relative;
}
.box-y-axis{
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: -32px;
  justify-content: space-between;
  align-items: center;
}
.box-x-axis{
  flex: 1;
  text-align: center;
  position: relative;
  display: flex;
}
.graph{
  width: 20px;
  background-color: lightseagreen;
  transform: translateX((-50%));
  position: absolute;
  bottom: 0;
  left: 50%;
}

.index{
  position: absolute;
  bottom: -7%;
  align-self: center;
  left: 45%;
}