.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


body{
  background-color: cadetblue;
  color: #FFF;
}

.input-box{
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-box > input {
  height: 50px;
  width: 50px;
  border: none;
  outline: none;
  font-size: 20px;
  margin: 20px;
  text-align: center;
}

.timer-button{
  height: 40px;
  width: 100px;
  border: none;
  outline: none;
  background-color: purple;
  color: #FFF;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}
.timer-box{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
