.App {
  text-align: center;
  display: flex;
  align-items: center;
}


img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

button{
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.right{
  right: 0;
}

