.App {
  text-align: center;
}

.star{
  margin: 10px;
  font-size: 70px;
}

button{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.on{
  color: #000;
}
.off{
  color: #ccc;
}